.title h1{
font-size: 20px;
text-align: center;
padding-top: 20px;
}
/*Home*/
.booking-form {
background: #fff;
border-radius: 2px;
}
.booking-form>form .row.no-margin {
margin-right: 0px;
margin-left: 0px;
}
.booking-form>form .row.no-margin>[class*="col-"] {
padding-right: 0px;
padding-left: 0px;
}
.booking-form .form-group {
position: relative;
padding: 20px;
margin-bottom: 0px;
}
.booking-form .form-control {
background-color: transparent;
border-radius: 0px;
border: none;
height: 25px;
-webkit-box-shadow: none;
box-shadow: none;
font-size: 15px;
color: #333;
font-weight: 400;
padding: 0;
}
.booking-form .form-group:after {
content: '';
background: rgba(129, 131, 144, 0.15);
position: absolute;
top: 25px;
bottom: 0;
right: 0px;
width: 2px;
height: 75px;
}
.booking-form .form-control::-webkit-input-placeholder {
color: #818390;
}
.booking-form .form-control:-ms-input-placeholder {
color: #818390;
}

.booking-form .form-control::placeholder {
color: #818390;
}

.booking-form input[type="date"].form-control:invalid {
color: #818390;
}

.booking-form select.form-control {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}


.booking-form select.form-control+.select-arrow:after {
content: '\279C';
display: block;
-webkit-transform: rotate(90deg);
transform: rotate(90deg);
}

.booking-form .form-label {
color: #0567AB;
display: block;
font-weight: 400;
height: 25px;
line-height: 25px;
font-size: 14px;
}

.booking-form .form-btn {
padding: 25px;
}

.booking-form .submit-btn {
background: #0567AB;
border: none;
display: block;
border-radius: 10px;
width: 100%;
height: 50px;
font-size: 16px;
font-weight: 400;
color: #fff;
}
.home .hero-image {
position: relative;
width: 100%;
height: 1000px;
overflow: hidden;
}
.home .hero-image img {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
filter: brightness(0.7);
opacity: 0;
transition: opacity 1s ease-in-out;
}

.home .hero-image img:first-child {
opacity: 1;
}
.home .hero-image .caption {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
font-size: 24px;
color: #fff;
z-index: 1; /* Make sure the caption is on top of the background */
padding: 10px; 
}
.home .hero-image .caption::before{
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.3); /* Add a half-transparent black background */
z-index: -1;
}
@keyframes imageFade {
0% {
    opacity: 0;
}
15% {
    opacity: 1;
}
33% {
    opacity: 1;
}
53% {
    opacity: 0;
}
100% {
    opacity: 0;
}
}
.home .hero-home img:nth-child(2) {
animation-delay: 5s;
animation-name: imageFade;
animation-duration: 10s;
animation-iteration-count: infinite;
}
.home .hero-image img:nth-child(3) {
animation-delay: 10s;
animation-name: imageFade;
animation-duration: 10s;
animation-iteration-count: infinite;
}
/*Payment*/
.payment .container {
	max-width: 700px;
    margin: 0 auto;
	padding: 20px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.payment h1,h2{
	text-align: center;
	font-size: 20px;
    color: #0077b6;
	margin-bottom: 20px;
}
.payment .section {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ccc;
}
.payment table {
	width: 100%;
	border-collapse: collapse;
}
.payment td {
	padding: 10px;
	border: 1px solid #ccc;
}
.payment form {
	margin-top: 10px;
}
.payment label {
    margin-bottom: 5px;
	font-weight: bold;
    padding: 10dp;
} 
.payment input[type="text"]{
padding: 10px;
width: 100%;
margin-bottom: 10px;
border: 1px solid #ccc;
}
.payment button{
padding: 10px;
width: 100%;
border: none;
color: #fff;
border-radius: 5px;
background-color: #0077b6;
margin-top: 10px;
}
.payment button:hover{
background-color: #0062cc;
transition: 1s ease;
cursor: pointer;
}
.payment #payment-details {
padding: 10px;
margin-top: 10px;
}
.payment label{
font-size: 15px;
font-weight: normal;
}


.background-image {
background-image: url("images/loginregbg.jpg");
background-size: cover;
height: 100vh;
position: relative;
}

/*Login*/
.login-container {
background-color: #fff;
width: 400px;
margin: 0 auto;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
padding: 40px;
border-radius: 5px;
box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.login-container h2 {
margin-top: 0;
}
.login form {
display: flex;
flex-direction: column;
}
.login label {
font-weight: bold;
}
.login input {
padding: 10px;
margin-bottom: 20px;
border-radius: 5px;
border: 1px solid #ccc;
}
.login .form-actions {
display: flex;
justify-content: space-between;
align-items: center;
}
.login button {
padding: 10px 20px;
border-radius: 5px;
border: none;
background-color: #0567AB;
color: #fff;
cursor: pointer;
}
.login button:hover {
background-color: #03406c;
transition: 1s ease;
}
.login a {
color: #333;
text-decoration: none;
font-size: 15px;
}
.login a:hover{
color:#0077b6;
}
